<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= venue.name %></td>
        <td><%= link_to 'View Menu', venue.menu %></td>
        <td>Add</td>
      </tr>
    <% end %>
  </tbody>
</table>
